html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    box-sizing: border-box;
}
